/.vs
/MagicMotion.CSharp.Editor.csproj
/MagicMotion.CSharp.Plugins.csproj
/MagicMotion.sln
/MagicMotion.CSharp.csproj
/Library
/Temp
/obj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
